/* imports en instellingen */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/* basis vormgeving */

body {
    background-color: white;
    color: black;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
}

main,
main p {
    margin-bottom: 2em;
}

h2, h3 {
    font-weight: 400;
    margin-bottom: 1em;
}

h3 {
    font-size: 1rem;
}

h4 {
    text-transform: uppercase;
    margin-bottom: 2em;
}

a:visited {
    color: black;
}

video {
    width: 100%;
}

img {
    display: block;
    max-width: 100%;
    margin-bottom: 1rem;
}

.btn {
    background-color: white;
    color: black;
    text-align: center;
    padding: 0.4rem 1.1rem;
    border-radius: 1rem;
}

.btn:hover {
    filter: invert(25%);
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box--center {
    align-items: center;
}

.box--indent {
    padding: 0 4vw;
}

.box__col--third {
    width: 31%;
    margin-bottom: 1.5rem;
}

.box__col--half {
    width: 50%;
    padding: 2rem;
}

.box__col--bgjoinus {
    background-image: url("static/img/joinus-pic.webp");
    background-size: cover;
    background-position: right;
}

/* hoofding */

header {
    background-color: white;
}

header div {
    padding: 1rem;
}

header img {
    width: 3rem;
}

header img:hover {
    opacity: 0.5;
}

header nav li {
    display: inline;
    list-style-type: none;
}

header nav a {
    font-size: 1.1rem;
    text-decoration-line: none;
    padding: 2rem 1rem;
}

header nav a:hover {
    text-decoration-line: underline;
    text-underline-offset: 2rem;
}

header i {
    padding: 0.5rem;
}

header .marquee {
    background-color: #eee;
    text-align: center;
}

/* inhoud */

main {
    background-color: white;
    padding: 0 10vw;
    border-top-color: #ddd;
    border-top-width: thin;
    border-top-style: solid;
}

.videoframe {
    height: 30vh;
    overflow: hidden;
    margin-bottom: 3rem;
}

figure {
    position: relative;
}

/* een absolute gepositioneerd element wordt gepositioneerd ten opzichte van het eerste bovenliggende element dat iets anders als de standaard static position heeft */

#deals figcaption {
    position: absolute;
    top: 72%;
    left: 12%;
}

.highlights {
    background-color: hsl(45, 40%, 92%);
}

/* footer */

footer {
    background-color: #111;
    color: white;
    padding: 4vh 10vw;
}

footer .box {
    margin-bottom: 2rem;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    color: hsla(0, 0%, 100%, 0.8);
    font-size: 0.8rem;
    line-height: 2;
}

footer ul li:first-child {
    color: white;
    font-size: 1rem;
    font-weight: 600;
}

footer ul:first-child li {
    color: white;
    font-size: 0.8rem;
    font-weight: 600;
}

.socials i {
    color: hsla(0, 0%, 100%, 0.8);
    font-size: 1.5rem;
}

.socials i:hover {
    color: white;
}