/* instellingen */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html, body {
    height: 100%;
}

/* vormgeving elementen */

body {
    background-color: #fff;
    color: #000;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
}

main p, h4 {
    margin-bottom: 2em;
}

h2 {
    margin: 1.5em 0;
    font-weight: 500;
}

h3 {
    font-size: 1rem;
    font-weight: 500;
}

h4 {
    text-transform: uppercase;
}

a {
    color: #000;
    text-decoration-line: none;
}

a:visited {
    color: #000;
}

video {
    width: 100%;
}

img {
    display: block;
    max-width: 100%;
}

/* vormgeving classes */

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

.align-center {
    align-items: center;
}

.indent {
    margin: 0 auto;
    width: 90%;
}

.flex-col {
    flex: 1;
}

.bg-joinus {
    background-image: url("static/img/joinus-pic.webp");
    background-size: cover;
    background-position: right;
}

.btn {
    background-color: #fff;
    border-radius: 1rem;
    padding: 0.4em 2ch;
    text-align: center;
}

.btn:hover {
    filter: invert(25%);
}

/* vormgeving hoofding */

header {
    background-color: #fff;
}

.menu {
    margin: 1.5rem 3rem;
}

header img {
    width: 3rem;
}

header img:hover {
    opacity: 0.5;
}

header nav li {
    display: inline-block;
}

header nav a {
    padding: 2rem 1ch;
    font-size: 1.1rem;
}

header nav a:hover {
    text-decoration-line: underline;
    text-underline-offset: 2rem;
}

header i {
    margin-left: 1.5ch;
}

header i:hover {
    color: #666;
}

header input {
    margin-left: 1ch;
    border: #ddd 2px solid;
    border-radius: 1rem;
    padding: 0.5em 2ch;
}

header .promo {
    border-top: #ddd thin solid;
    border-bottom: #ddd thin solid;
    padding: 1rem;
    background-color: #eee;
    text-align: center;
}

/* vormgeving inhoud */

main {
    padding: 0 10vw;
    background-color: #fff;
}

.videoframe {
    overflow: hidden;
    margin-bottom: 3rem;
    max-height: 50vh;
}

main img {
    margin-bottom: 1rem;
}

figure {
    position: relative;
}

/* een absolute gepositioneerd element wordt gepositioneerd ten opzichte van het eerste bovenliggende element dat iets anders als de standaard static position heeft */

#deals figcaption {
    position: absolute;
    bottom: 3rem;
    left: 3rem;
}

.highlights {
    background-color: #fed;
}

.highlights .flex-col {
    padding: 2rem;
}

/* vormgeving footer */

footer {
    margin-top: 3rem;
    padding: 5% 10%;
    background-color: #111;
    color: #666;
}

footer ul {
    margin-bottom: 2rem;
}

footer ul li {
    font-size: 0.8rem;
    line-height: 2;
    list-style-type: none;
}

footer ul li:first-child a {
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
}

footer ul:first-child li a {
    color: #fff;
    font-size: 0.8rem;
    font-weight: 600;
}

footer a {
    color: #ccc;
}

footer a:hover {
    color: #fff;
    text-decoration-line: underline;
    text-underline-offset: 0.2em;
}

.socials i {
    color: hsla(0, 0%, 100%, 0.8);
    font-size: 1.5rem;
}

.socials i:hover {
    color: #fff;
}