/* instellingen */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

/* vormgeving elementen */

body {
    background-color: #fff;
    color: #000;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
}

h2 {
    margin-top: 2em;
    margin-bottom: 1.5em;
    font-weight: 500;
}

h3 {
    font-size: 1rem;
    font-weight: 500;
}

h4 {
    margin-bottom: 2em;
    text-transform: uppercase;
}

a {
    color: #000;
    text-decoration-line: none;
}

img {
    display: block;
    min-width: 3rem;
    max-width: 100%;
}

i:hover {
    transform: scale(1.1);
}

/* vormgeving classes */

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

.align-center {
    align-items: center;
}

.self-center {
    align-self: center;
}

.column {
    flex-direction: column;
    justify-content: start;
}

.indent {
    margin: 0 auto;
    padding: 0 5vw;
}

.flex-item {
    flex: 1;
}

.btn {
    display: inline-block;
    margin-right: 2ch;
    border-radius: 1rem;
    padding: 0.3em 1.5ch;
    background-color: #fff;
    font-weight: 500;
    text-align: center;
}

.btn:hover {
    filter: invert(0.25);
}

.invert {
    filter: invert(1);
}

/* vormgeving header */

header {
    background-color: #fff;
}

header .menu {
    position: fixed;
    z-index: 1;
    border-bottom: #ddd thin solid;
    width: 100%;
    height: 6rem;
    padding: 0 5vw;
    background-color: #fff;
}

header img {
    width: 3rem;
}

header img:hover {
    opacity: 0.5;
}

header nav li {
    display: inline-block;
}

header nav a {
    padding: 2rem 1ch;
    font-size: 1.1rem;
}

header nav a:hover {
    text-decoration-line: underline;
    text-underline-offset: 2rem;
}

header i {
    margin-left: 1.5ch;
    font-size: 1.1rem;
}

header i:hover {
    color: #666;
}

header input {
    margin-left: 1ch;
    border: #ddd 2px solid;
    border-radius: 1rem;
    padding: 0.5em 2ch;
}

header .promo-container {
    padding-top: 6rem;
}

header .promo {
    border-bottom: #ddd thin solid;
    padding: 1rem;
    background-color: #eee;
    text-align: center;
}

header .promo:hover {
    text-decoration-line: underline;
}

/* vormgeving main */

main {
    margin-bottom: 3rem;
    padding: 0 5vw;
    background-color: #fff;
}

/* herobanner */

#herobanner .videoframe {
    position: relative;
    overflow: hidden;
    max-height: 50vh;
}

#herobanner .cta-shop {
    position: absolute;
    bottom: 45%;
    left: 5%;
    transform: scale(1.25);
    transform-origin: left;
    filter: invert(1);
}

video {
    width: 100%;
}

/* featured */

#featured img {
    margin-bottom: 1.25rem;
    transition: transform 150ms ease;
}

#featured img:hover {
    transform: scale(1.02);
}

#featured .description {
    gap: 0;
}

/* categories */

#categories img {
    border-radius: 0.5rem;
}

#categories figure {
    position: relative;
}

/* → → een absolute gepositioneerd element wordt gepositioneerd ten opzichte van het eerste bovenliggende element dat iets anders als de standaard static position heeft ← ← */

#categories figcaption {
    position: absolute;
    bottom: 12%;
    left: 15%;
}

/* membership */

#membership .bgc-highlights {
    background-color: #fed;
}

#membership .flex-item {
    padding: 2rem;
}

#membership .bgd-joinus {
    background-image: url("static/img/joinus.webp");
    background-size: cover;
    background-position: right;
}

#membership p {
    margin-bottom: 2.5em;
}

/* vormgeving footer */

footer {
    padding: 5vw 10vw;
    background-color: #111;
    color: #666;
}

footer>.flex-container:first-child {
    margin-bottom: 2rem;
}

footer ul li {
    font-size: 0.8rem;
    line-height: 2;
    list-style-type: none;
}

footer ul li:first-child a, footer ul:first-child li a {
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

footer ul:first-child li a {
    font-size: 0.8rem;
}

footer a {
    color: #ccc;
}

footer a:hover {
    color: #fff;
    text-decoration-line: underline;
    text-underline-offset: 0.2em;
}

footer i {
    font-size: 1.6rem;
}

footer img:hover {
    transform: scale(1.1);
}

/* responsive */

@media screen and (max-width: 850px) {
    header nav {
        display: none;
    }
}