/* instellingen */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bgc-01: hsl(200, 40%, 99%);
    --bgc-02: hsl(200, 2%, 95%);
    --txt-01: hsl(200, 95%, 12%);
    --int-01: hsl(200, 100%, 45%);
    --int-02: hsl(8, 100%, 60%);
    scroll-behavior: smooth;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

/* basis vormgeving */

body {
    background-color: var(--bgc-01);
    color: var(--txt-01);
    font-family: 'Raleway', sans-serif;
    font-size: 80%;
    line-height: 2;
}

header, main {
    margin: 5vh 5vw;
}

a {
    color: var(--int-01);
    text-decoration-line: none;
}

a:hover {
    color: var(--int-02);
}

/* header */

header {
    position: sticky;
    z-index: 2;
    top: 0;
    display: flex;
    align-items: center;
    background-color: var(--bgc-01);
}

header h1 {
    border-right: 0.1rem dashed var(--bgc-02);
    padding: 0.5rem 2rem 0.5rem 0;
}

header nav li {
    display: inline;
}

header nav li a {
    display: inline-block;
    border-right: 0.1rem dashed var(--bgc-02);
    padding: 0.5rem 4vw;
    background-color: var(--bgc-01);
}

/* inhoud */

h2 {
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 0.5rem;
    background-color: var(--bgc-02);
    letter-spacing: 0.2ch;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.2rem;
    border: 0.2rem solid var(--bgc-02);
    border-top: none;
    border-radius: 0 0 0.5rem 0.5rem;
    background-color: var(--bgc-02);
    word-break: break-all;
}

.grid-item {
    position: relative;
    padding: 1rem;
    border-radius: 0.3rem;
    background-color: var(--bgc-01);
}

h3 {
    margin-bottom: 1rem;
}

.thumbnail-link {
    position: absolute;
    z-index: 1;
    left: 2rem;
    width: calc(100% - 4rem);
    height: 9rem;
    background: rgba(0, 0, 0, 0);
}

.thumbnail-link:hover {
    transform: scale(1.1);
}

.thumbnail {
    overflow: hidden;
    filter: drop-shadow(0 0 0.2rem rgba(0, 0, 0, 0.2));
    margin-bottom: 0.5rem;
    width: 100%;
    height: 9rem;
    padding: 0 2rem;
}

.thumbnail-link:hover+.thumbnail {
    transform: scale(110%);
}

.thumbnail iframe {
    transform: scale(0.25);
    transform-origin: 0 0;
    border: 0;
    width: 400%;
    min-height: 100vh;
}

@media screen and (max-width: 900px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 550px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}