/* instellingen */

body {
    background-color: lightsteelblue;
    color: steelblue;
    font-family: 'Lucida Sans', sans-serif;
}

/* vormgeving elementen */

h2, p, ul li {
    margin-bottom: 40px;
}

ul li {
    color: Maroon;
    list-style-type: '↪ ';
}

a {
    color: tomato;
    text-decoration-line: none;
}

a:hover {
    color: DodgerBlue;
    text-decoration-line: underline;
}

header, main, footer {
    background-color: Azure;
    border-bottom: 2px solid lightsteelblue;
    margin: 0 10%;
}

header, .col, footer {
    padding: 2vh 4vw;
}

/* vormgeving header */

header {
    background-color: LightCyan;
    border-radius: 10px 10px 0 0;
}

/* vormgeving main */

main li a {
    background-color: tomato;
    color: white;
    text-decoration-line: none;
    padding: 10px;
    border-radius: 5px;
}

main li a:hover {
    background-color: white;
    color: tomato;
    text-decoration-line: underline;
}

#about {
    display: flex;
    padding: 4% 0;
    /* margin: 4% 0; */
}

.col {
    /* background-color: Blue; */
}

.left {
    /* width: 30%; */
    flex: 3;
}

.right {
    /* width: 70%; */
    flex: 7;
    border-left: 2px dotted lightsteelblue;
}

/* vormgeving footer */

footer {
    border-radius: 0 0 10px 10px;
}