@import url('http://fonts.cdnfonts.com/css/sf-pixelate');

:root {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2B2A30;
    font-family: monospace;
    line-height: 1.5;
    margin: 0 10%;
}

header,
h2 {
    font-family: 'SF Pixelate', monospace;
}

header {
    background-color: #eee;
    color: #dc2525;
}

header div {
    padding: 1em 2em;
}

header h1 {
    display: inline;
}

header h2 {
    display: inline;
    letter-spacing: -0.3ch;
}

header nav {
    background-color: #f12704;
    padding: 0 1em;
}

nav li {
    display: inline-block;
}

nav a {
    display: block;
    color: #eee;
    font-weight: 600;
    padding: 16px;
}

nav a:hover {
    background-color: hsla(120, 95%, 80%, 0.5);
    color: blue;
}

main {
    background-color: #ffffffd0;
    color: #09072f;
    margin-bottom: 2em;
}

section {
    padding: 4em 4em 0 4em;
}

h2 {
    margin-bottom: 1em;
}

p {
    margin-bottom: 2em;
    max-width: 100ch;
}

img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 1em;
}

table {
    width: 100%;
}

td {
    border: 1px solid #333;
    padding: 1em;
}

footer {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2em;
}