* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
    font-family: sans-serif;
    font-size: 350%;
    line-height: 1.112;
    margin: 0.25em;
}

p {
    text-align: center;
}

main {
    background-color: #fff;
    padding: 0.5em;
}

.mono {
    font-family: monospace;
    font-size: 1.1em;
    line-height: 1.17;
}

.serif {
    font-family: serif;
}