@import url("https://use.typekit.net/nia2oky.css");

:root {
    --bgc-01: hsl(0, 0%, 90%);
    --bgc-02: hsl(0, 0%, 95%);
    --btn-01: hsla(200, 45%, 64%, 0.8);
    --btn-02: hsla(200, 45%, 56%, 0.8);
    --txt-01: hsl(0, 0%, 0%);
    --txt-02: hsl(0, 0%, 100%);
    scroll-behavior: smooth;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: var(--bgc-01);
    color: black;
    font-family: "itc-zapf-international", sans-serif;
    line-height: 1.5;
}

/* vormgeving elementen */


h1 {
    padding: 0.4rem 0;
    font-size: 1.25rem;
}

h2 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

p {
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
}

a {
    color: var(--txt-01);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 0.2rem;
}

img {
    display: block;
    width: 100%;
}

/* vormgeving header */

header {
    position: fixed;
}

header nav ul {
    display: flex;
    flex-direction: column;
    max-width: 20ch;
}

header nav li {
    display: inline-block;
}

header a {
    display: block;
    padding: 0.4rem 2ch;
    background-color: var(--btn-01);
    color: var(--txt-02);
}

header h1 a:hover, header a:hover {
    background-color: var(--btn-02);
}

/* vormgeving main */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vh 20vw;
    min-height: 100vh;
    background-color: var(--bgc-02);
}

section:nth-child(even) {
    background-color: var(--bgc-01);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

/* vormgeving footer */

footer {
    padding: 1rem;
    text-align: center;
}