/* algemene vormgeving */

@import url("https://use.typekit.net/hfi1kak.css");

:root {
    --bgc-01: hsl(0, 0%, 02%);
    --bgc-02: hsl(0, 0%, 08%);
    --txt-01: hsl(0, 0%, 90%);
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: var(--bgc-01);
    color: var(--txt-01);
    font-family: "owners-wide", sans-serif;
    line-height: 1;
}

h2 {
    margin-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 2.5ch;
}

p {
    font-weight: 400;
}

a {
    text-decoration: none;
    color: var(--txt-01);
}

header nav a:hover, footer a:hover {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

img {
    display: block;
    width: 100%;
}

ul {
    list-style-type: none;
}

header, main, footer {
    padding: 2rem 1ch;
}

header, footer {
    background-color: var(--bgc-02);
}

/* header vormgeving */

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: end;
}

header>div {
    z-index: 6;
    align-self: center;
}

header h1 {
    display: inline-block;
    margin-left: 0.2ch;
    font-weight: 600;
}

header .logo {
    z-index: 7;
    justify-self: center;
}

header img {
    display: inline;
    width: 2.5rem;
    filter: invert(0.9);
}

header nav {
    justify-self: end;
}

header nav li:last-child a {
    background-color: var(--txt-01);
    color: var(--bgc-02);
}

header nav li:last-child a:hover {
    filter: invert(1);
}

header nav ul {
    position: relative;
    display: flex;
    gap: 1rem;
}

header nav a {
    display: block;
    padding: 0.25rem;
    font-weight: 600;
    text-transform: uppercase;
}

#hamburger-menu {
    display: none;
}

.hamburger-menu {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    padding: 0.6rem;
    font-size: 1.5rem;
    text-align: right;
    cursor: pointer;
}

/* main vormgeving */

main {
    font-family: "owners-xwide", sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.grid-card {
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    align-items: end;
    aspect-ratio: 3 / 2;
    background-size: 125%;
    background-position: center;
}

.act {
    z-index: 2;
    padding: 0.4rem 0;
    background-color: var(--bgc-02);
    color: var(--txt-01);
}

.act-link {
    position: absolute;
    width: 100%;
    height: 100%;
}

.venue {
    filter: invert();
    z-index: 2;
    margin-left: auto;
    padding: 0.4rem 1ch;
    background-color: var(--bgc-02);
    color: var(--txt-01);
    font-size: 0.7rem;
}

.date {
    position: absolute;
    z-index: 2;
    top: 1rem;
    right: -1ch;
    padding: 0.2rem 1ch;
    background-color: var(--bgc-02);
    color: var(--txt-01);
}

.grid-card :hover {
    background-image:
        repeating-linear-gradient(0deg,
            var(--txt-01),
            var(--txt-01) 1vh,
            transparent 1vh,
            transparent 20vh);
}

.grid-card:nth-child(even) :hover {
    background-image:
        repeating-linear-gradient(-90deg,
            var(--txt-01),
            var(--txt-01) 1vh,
            transparent 1vh,
            transparent 20vh);
}

/* act vormgeving */

.flex-container {
    display: flex;
    gap: 2rem;
}

.flex-item {
    flex: 1;
}

#act h3, #act h4, #act p {
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: var(--txt-01);
    color: var(--bgc-01);
    text-align: center;
}

#act h3 {
    font-size: 2rem;
}

#act .social-media {
    margin-bottom: 1rem;
}

#act p {
    margin: 0 10ch;
    text-align: left;
    line-height: 1.5;
}

#act .embed {
    width: 50%;
    margin: 0 auto;
}

#act iframe {
    margin-top: 1rem;
    width: 100%;
    aspect-ratio: 3 / 2;
}

/* footer vormgeving */

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.social-media {
    align-self: center;
    text-align: center;
}

i {
    margin: 0 0.5rem;
    font-size: 1.2rem;
}

footer .legal {
    grid-column-start: 1;
    grid-column-end: 3;
}

/* animation hovers */

header .logo:hover, i:hover {
    animation: ftr-glow_onoff 280ms infinite linear;
}

@keyframes ftr-glow_onoff {
    from {
        filter: drop-shadow(0 0 0 transparent);
    }

    to {
        filter: drop-shadow(0 0 1rem var(--txt-01));
    }
}

.grid-card:hover {
    animation: bgd-size_updown 400ms infinite alternate;
}

@keyframes bgd-size_updown {
    from {
        background-size: 125%;
    }

    to {
        background-size: 135%;
    }
}

.grid-card :hover {
    cursor: pointer;
    user-select: none;
    animation: tfm-rotatex_round 4s infinite linear;
}

@keyframes tfm-rotatex_round {
    from {
        /* transform: rotateX(0); */
    }

    to {
        /* transform: rotateX(180deg); */
        background-position: 100vw 100vh;
    }
}

/* smartphone vormgeving */

@media screen and (max-width: 44rem) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    header nav ul {
        position: fixed;
        z-index: 4;
        top: 2.5rem;
        right: 0;
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: var(--bgc-02);
        text-align: right;
    }

    #hamburger-menu {
        display: block;
    }

    .hamburger-menu {
        position: fixed;
        z-index: 4;
        display: flex;
        width: 100%;
        background-color: var(--bgc-02);
    }
}